@import "tailwindcss";

html, body, #root {
  height: 100%;
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

@theme {
  --color-green-100: #10A37F;
  --color-green-200: #D8EFE9;

  --color-gray-0: #FFFFFF;
  --color-gray-100: #F4F4F4;
  --color-gray-200: #ABABAB;
  --color-gray-300: #858B9D;
  --color-gray-400: #4B4F5B;
  --color-gray-500: #3F424A;
  --color-gray-600: #282A2E;
  --color-gray-700: #1E1F22;
  --color-gray-800: #CCCFD7;

  --color-red-100: #F27474;

  --color-green-100: #23C69E;
  --color-green-200: #10A37F;
  --color-green-300: #1E3B36;

  --color-yellow-100: #FEC553;

  --shadow-custom: 0px 19px 29px 0px #1E1F2233;
}
